/* login.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(blue, cyan,white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #637781;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 2rem;
    color: #ffffff;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
    text-align: left;
}

.form-group input {
    width: 90%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background: #2a344a;
    color: #ffffff;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
}

.btn {
    width: 90%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}